---
# front matter
---
// IMPORTS
@import "cssreset";
@import "base";
@import "bourbon/bourbon";
@import "neat/neat";
@import "partials";

// $medium: new-breakpoint(max-width 1025px 4);

.grid-container {
	@include outer-container;
	// @include media($medium) {
 //      @include span-columns(4);
 //    }
}

.main-content-container {
	@include span-columns(8);
	@include shift(2);
	// @include media($medium) {
 //      @include span-columns(4);
 //    }
 //}
}

.comic-post {
	@include span-columns(6);
	@include shift(3);
	// @include media($medium) {
 //      @include span-columns(8);
 //    }
}

.title {
	float: left;
}
.date {
	float: right;
}

img.comic {
	width: 100%;
	height: auto;
	margin: 10px 0px 20px 0px;
	box-shadow: 0px 2px 4px rgba(93, 94, 95, 0.6);
	background-color: white;
}

.comic-comment {
	width: 100%;
	padding: 20px 0px 25px 0px;
	border-top: 2px solid $cDark;
	border-bottom: 2px solid $cDark;
	p {
		margin-bottom: 10px;
	}
}

.pagination {
	@include span-columns(8);
	@include shift(2);
	margin-top: 35px;
	margin-bottom: 35px;
	height: 25px;
	ul {
		list-style-type: none;
		li {
			float: left;
			width: 25%;
		}
	}
}

