//
// Fonts
//
$mono: "Fira Mono", "Courier New", monospace;

//
// Colors
//
$cDarkest: #444444;
$cDark: #888787;
$cMedium: #CCCBCB;
$cLight: #ECEDED;
$cLightest: #FAFAFA;

//
// Spacing
//
$base-spacing: 1em;
$small-spacing: 1em / 2;
$large-spacing: 1em * 2;

//
// Transitions
//
$base-transition: all 0.3s ease;

//
// Breakpoints
//
$large: new-breakpoint(max-width 1170px 12);
$medium: new-breakpoint(max-width 790px 6);
$small: new-breakpoint(max-width 520px 4);
$tiny: new-breakpoint(max-width 310px 1);

//
// Type
//
body {
	font-family: $mono;
	color: $cDark;
  font-size: 1em;
  line-height: 1.15em;
}

p { font-size: 0.875rem; }
small { font-size: 0.775em; }
h1 { font-size: 2.25em; }
h2 { font-size: 1.75em; }
h3 { font-size: 1.25em; }
h4 { font-size: 0.875em; }
h5 { font-size: 0.775em; }

p,h1,h2,h3,h4,h5 {
  margin-bottom: $base-spacing;
}

a {
	text-decoration: none;
	color: $cDarkest;
  transition: $base-transition;

	&:hover, &:active, &:focus {
    color: $cLight;
		background-color: $cDark;
	}
}

ul li {
  margin-bottom: $base-spacing;
}
