/**
 * FONTS
 */
$mono: "Fira Mono", "Courier New", monospace;

/**
 * COLORS
 */
$cDark: #5D5E5F;
$cMedium: #8C8E8E;
$cLight: #EAEDEE;

/**
 * TYPOGRAPHY
 */

 body {
	font-family: $mono;
	font-size: 16px;
	line-height: 22px;
	color: $cDark;
	background-color: $cLight;
}

.small { font-size: 0.875em; }

.left { text-align: left; }

.right { text-align: right; }

.center { text-align: center; }

h1 {
	font-size: 1.5em;
	line-height: 2em;
}

a {
	text-decoration: none;
	position: relative;
	color: $cDark;
	&:after {
		content: "";
		background-color: transparent;
		width: 100%;
		position: absolute;
		left: 0;
		top: 12px;
		transition: background-color .4s ease-in-out, height .2s ease-in-out;
	}
	&:hover:after {
		background-color: $cDark;
		height: 2px;
	}
}

.small a {
	text-decoration: none;
	position: relative;
	color: $cDark;
	&:after {
		content: "";
		background-color: transparent;
		width: 100%;
		position: absolute;
		left: 0;
		top: 10px;
		transition: background-color .4s ease-in-out, height .2s ease-in-out;
	}
	&:hover:after {
		background-color: $cDark;
		height: 2px;
	}
}