/**
 * Header
 */

header {
	width: 100%;
	background-color: shade($cLight, 20%);
	box-shadow: 0px 2px 4px rgba(93, 94, 95, 0.6);
	padding: 20px 0px 20px 0px;
	margin-bottom: 30px;
	h1 {
		float: left;
	}
	nav {
		float: right;
		ul {
			list-style-type: none;
			a {
				text-align: right;
				margin-left: 40px;
			}
			li {
				float: left;
			}
		}
	}
}

/**
 * Footer
 */

footer {
	//border-top: 2px solid $cDark;
	//background-color: shade($cLight, 20%);
	padding: 20px 0px 100px 0px;
	margin-top: 50px;
	text-align: center;
	.footer-content {
		border-top: 2px solid $cDark;
		padding: 50px 0px 50px 0px;
	}
}