<!DOCTYPE html>
<html lang="en">

		{% include head.html %}

	<body>

		{% include header.html %}

		<div class="grid-container">

			<div class="pagination small">
				<ul>
					<li class="left"><a href="#">&laquo; first</a></li>
						<li class="left"><a href="#">&lsaquo; prev</a></li>
					<li class="right"><a href="#">next &rsaquo;</a></li>
					<li class="right"><a href="#">last &raquo;</a></li>
				</ul>
			</div>

			{% for post in site.posts %}
			<article class="comic-post">
				<p class="title">{{ post.title }}</p>
				<p class="date">{{ post.date | date: "%m.%-d.%Y" }}</p>
				<img class="comic" src="{{ post.comic }}">
				<div class="comic-comment">
					<p class="small">{{ post.title }} // {{ post.date | date: "%m.%-d.%Y" }}</p>
					<p>{{ post.excerpt }}</p>
				</div>
			</article>
			{% endfor %}

			<div class="pagination small">
				<ul>
					<li class="left"><a href="#">&laquo; first</a></li>
					<li class="left"><a href="#">&lsaquo; prev</a></li>
					<li class="right"><a href="#">next &rsaquo;</a></li>
					<li class="right"><a href="#">last &raquo;</a></li>
				</ul>
			</div>

		</div>

		{% include footer.html %}

	</body>
</html>
