---
layout: detault
---
<!-- 
<!DOCTYPE html>
<html lang="en">

		{% include head.html %}

	<body>

		{% include header.html %}

		<div class="page-content">
 -->
			<div class="pagination small">
				<ul>
					<li class="left"><a href="#">&laquo; first</a></li>
					<li class="left"><a href="#">&lsaquo; prev</a></li>
					<li class="right"><a href="#">next &rsaquo;</a></li>
					<li class="right"><a href="#">last &raquo;</a></li>
				</ul>
			</div>
			<article class="comic-post">
				<p class="small">03.15.2015 &mdash; "this is the comic title"</p>
				<img class="comic" src="#">
				<div class="comic-comment">
					<img class="avatar" src="#">
					<p class="small">03.15.2015</p>
					<p>this is the comment regarding the comic in the above image</p>
				</div>
			</article>
			<div class="pagination small">
				<ul>
					<li class="left"><a href="#">&laquo; first</a></li>
					<li class="left"><a href="#">&lsaquo; prev</a></li>
					<li class="right"><a href="#">next &rsaquo;</a></li>
					<li class="right"><a href="#">last &raquo;</a></li>
				</ul>
			</div>
<!-- 			
			{% include footer.html %}

		</div>
	</body>
</html>
 -->