---
layout: default
---

<article class="comic-post">
  <div class="comic-data">
    <div class="title">
      <p><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
    </div>
  	<div class="date">
      <p>{{ page.date | date: "%m.%-d.%Y" }}</p>
    </div>
  </div>

	<img class="comic" src="{{ page.comic }}">
	<div class="comic-comment">
    <div class="comic-data">
      <div class="title">
        <p class="small"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
      </div>
      <div class="date">
        <p>{{ page.date | date: "%m.%-d.%Y" }}</p>
      </div>
    </div>
		<p>{{ page.excerpt }}</p>

    {% if page.tags.size > 1 %}
    <div class="tags">
      <p>tags</p>
      <ul class="post-tag-list">
        {% for tag in page.tags %}
        <li class="inline archive_list"><a class="tag_list_link" href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

	</div>
</article>

{% include pagination.html %}
